<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ISS_SE2016/src/sg/edu/nus/iss/club/gui/ClubApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sg.edu.nus.iss.club.gui.ClubApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\JavaWkFiles\members.txt D:\JavaWkFiles\facilities.txt D:\JavaWkFiles\bookings.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ISS_SE2016"/>
</launchConfiguration>
